# =====================
# ENV FILES (CRITICAL)
# =====================
.env
*.env

# =====================
# JAVA / SPRING BOOT
# =====================
HELP.md
target/
*.jar
*.war

.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# =====================
# IDEs
# =====================
.idea/
*.iml
*.iws
*.ipr

.vscode/

# =====================
# STS / ECLIPSE
# =====================
.classpath
.project
.settings
.factorypath
.springBeans
.sts4-cache
.apt_generated

# =====================
# NETBEANS
# =====================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =====================
# BUILD OUTPUT
# =====================
build/
out/

# =====================
# DOCKER
# =====================
docker-compose.override.yml
*.log